body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(128,0,128)), url(images/pic.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#banner{
margin: 0 auto 0 auto;
max-width:600px ;
}
.container{
    background-color: rgba(27,27,50,0.8);
    width: auto;
    padding: 100px;
} 
.form-control{
    width: 450px;
    height: 25px;
    margin-bottom: 15px;

}
.form-group{
    width:auto;
}
.input-textarea{
    width: 400px;
    padding:10%;
}
.submit-button{
    width: 480px;
    
}
